<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Категорії</title>
</head>
<body>
{% include 'catalog/header.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Категорії</h2>
    <ul>
        {% for category in categories %}
            {% include "catalog/category_node.html" with category=category %}
        {% endfor %}
    </ul>
    {% if request.user.is_staff %}
        <a href="{% url 'category-add' %}" class="btn btn-primary">Додати нову категорію</a>
    {% endif %}
</div>
{% endblock %}

{% include 'catalog/footer.html' %}


</body>
</html>