<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} {{ component.name }} - Detail {% endblock %}</title>
</head>
<body>
{% include 'catalog/header.html' %}

<div class = "container">
    <h2>Відправити скаргу на об'єкт {{ component.name }}</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Відправити скаргу</button>
    </form>

    <p><a href="{% url 'component-detail' component.id %}">Назад</a></p>
</div>
{% include 'catalog/footer.html' %}
</body>
</html>